---
layout: default
title: 冯辉 - HueiFeng
---
<div class="block">
    {% for post in paginator.posts %}
    <div class="post item">
        <h2><a href="https://blog.stackable.cn/?id=63">{{ post.title }}</a></h2>
        <div class="info">
        </div>
        <div class="intro">
            {{ post.excerpt }}</div>
        <div><a href="https://blog.stackable.cn/?id=63" class="readmore">查看全文</a></div>
    </div>
    {% endfor %}

</div>
<div class="pagebar">
    {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    {% else %}
    <a class="previous disabled">←</a>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <a class="active">{{ page }}</a>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% elsif page == paginator.total_pages %}
    <a
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% else %}
    <a
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>

    {% endif %}
    {% endfor %}
    {% if paginator.next_page %}

    <a title="下一页" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">→</a>

    {% else %}
    <a class="next disabled"><span>→</span></a>
    {% endif %}
    {% endif %}
</div>